.header {
    display: flex;
    justify-content: center;
}

.letter-container {
    display: flex;
    justify-content: center;
}


#buttonContainer {
    font-size: 20px;
    color: black;
}

#answer-container {
    display: flex;
}
